<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <style>
        #myMessage {
            background-color: rgb(154, 189, 186);
        }

        #newUserLog {
            background-color: rgb(188, 190, 149);
        }

        #sendGroup {
            position: fixed;
        }

        .scrollspy-example {
            position: relative;
            height: 100%;
            overflow: auto;
        }

    </style>
  </head>
  <body>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 bg-secondary" style="height: 100vh">
                <div class="row">
                    <div class="col-md-12">
                        <div id="divUser" style="height: 50px">
                            <h2 class="text-center">Chat</h2>
                        </div>
                    </div>
                </div>
                <div class="row mb-2" id="divMessages" style="height: 80%;">
                    <div class="col-md-12 p-3 scrollspy-example" id="colMessages" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" tabindex="0">
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-9">
                        <input type="text" id="inputMessage" placeholder="Digite a mensagem..." class="form-control">
                    </div>
                    <div class="col-3">
                        <button class="btn btn-primary" id="btnSendMessage">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
   
    <script type="module">
        import message from './message.js';

        const socket = io()
        const messageFunc = message()

        const myUserId = socket.on('connect', () => {
            const userId = socket.id
            return userId;
        });

        // LOG DE CONEXÃO DE USUARIO
        socket.on('setup', (stats) => {
            messageFunc.geraMessage().messageTypes.userLog({ message: { messageText: 'Usuario conectado: ', messageUserId: stats.userId, messageHour: '19:50:10'}, typeMessage: 'userLog'})
            var windowScroll = document.getElementsByClassName("scrollspy-example")[0];
            windowScroll.scrollTop = windowScroll.scrollHeight
        })

        document.getElementById("btnSendMessage").addEventListener('click', () => {
            var msg = document.getElementById("inputMessage").value
            socket.emit('sendMessage', {msg}); 

            document.getElementById("inputMessage").value = ''
        }) 

        document.addEventListener('keypress', (e) => {
            if(e.which == 13) {
                var msg = document.getElementById("inputMessage").value
                socket.emit('sendMessage', {msg}); 

                document.getElementById("inputMessage").value = ''
            }
        })

        socket.on('newMessage', (stats) => {
            var typeMessage = '';
            var windowScroll = document.getElementsByClassName("scrollspy-example")[0];
            var receivedMessage = '';
            var messageBody = document.createElement('div')

            if(stats.userId != myUserId.id) {
                receivedMessage = messageFunc.geraMessage().messageTypes.userMessage({ message: { messageText: stats.messageContent, messageUserId: stats.userId, messageHour: '19:50:10'}, typeMessage})
            } else {
                receivedMessage = messageFunc.geraMessage().messageTypes.myUserMessage({ message: { messageText: stats.messageContent, messageUserId: stats.userId, messageHour: '19:50:10'}, typeMessage})
            }
            messageBody.innerHTML = receivedMessage;

            document.getElementById("colMessages").appendChild(messageBody);

            windowScroll.scrollTop = windowScroll.scrollHeight
        })

        // LOG DE DESCONEXÃO DE USUARIO
        socket.on('userDisconnect', (stats) => {
            messageFunc.geraMessage().messageTypes.userLog({ message: { messageText: 'Usuario desconectado: ', messageUserId: stats.userId, messageHour: '19:50:10'}, typeMessage: 'userLog'})
            var windowScroll = document.getElementsByClassName("scrollspy-example")[0];
            windowScroll.scrollTop = windowScroll.scrollHeight
        })

    </script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>
